.featured-products{
    width: 100%;
    padding: 25px 0;
    box-sizing: border-box;
    .featured-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .featured-heading{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 35px;
            user-select: none;
            #sp-fr-pd{
                font-size: 15px;
            }
        }
        .f-head{
            margin: 0;
            font-weight: bold;
            color: gray;
        }
    }
    .featured-pro-card{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}