.featured-products{
    // margin: 30px 0;
    padding: 25px 0;
    box-sizing: border-box;
    background-color: white;
    .featured-header{
        .featured-heading{
            font-size: 35px;
            user-select: none;
            span{
                font-size: 15px;
            }
        }
        .f-head{
            margin: 0;
            font-weight: bold;
            color: gray;
        }
    }
    .featured-pro-card{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
      
    }
}