.header{
    padding: 15px;
    background-color: #22252A;
    color: white;
    display: flex;
    padding: 20px 35px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    .offer-div{
        #bar-ico{
            color: white;
            font-size: 35px;
            display: none;
            &:hover{
                cursor: pointer;
                color: rgb(50, 193, 50);
            }
        }
        .offer-text{
            margin: 0;
        }
    }
    .links-div{
        display: flex;
        align-items: center;
        a{
            font-size: 17px;
            margin:0 20px;
            font-weight: 500;
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-color: #ECECEA;
                text-decoration-thickness: 3px;
            }
        }
    #dropdown-cart{
        width: fit-content;
        .drop-footer{
            display: flex;
            justify-content: space-between;
            button{
                border: none;
                font-size: 17px;
                font-weight: bold;
                padding: 5px 10px;
                color: white;
                border-radius: 5px;
            }
            #to-cart{
                background-color: green;
                width: 45%;
            }
            #clear-cart{
                background-color: red;
                width: 45%;
            }
        }
    }
    #menu-items{
        padding: 5px 10px;
        box-sizing: border-box;
        max-height: 300px;
        overflow: auto;
        margin: 5px;
        #map-div{
            background-color: rgb(228, 227, 227);
            margin: 10px 0;
            padding: 5px 15px;
            box-sizing: border-box;
            border-radius: 10px;
            display: list-item;
            #m-name{
                color: black;
                font-size: 15px;
                margin: 0;
                font-weight: 500;
            }
            .footer-div-map{
                display: flex;
                align-items: center;
                justify-content: space-between;
                #m-price{
                    margin: 0;
                }
            }
            #m-bt{
                font-size: 20px;
                color: red;
            }
            &:hover{
                cursor: pointer;
                box-shadow: 1px 1px 5px 1px gray;
                transition: 0.6s;
            }
        }
    }
        .wishist-link{
            position: relative;
            .wishlist-length{
                position: absolute;
                top: -10px;
                z-index: 1;
                right: -17px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                width: fit-content;
                padding: 0 5px;
                border-radius: 5px;
                height: fit-content;   
                background-color: red;
            }
        }
        .cart-link{
            position: relative;
            z-index: 5;
            .cart-length{
                position: absolute;
                top: -10px;
                z-index: 1;
                right: -17px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                padding: 2px 7px;
                border-radius: 50%;
                background-color: red;
            }
        }
    }
}
@media screen and (max-width:750px) {
        .header{
            .offer-div{
                .offer-text{
                    display: none;
                }
                #bar-ico{
                    display: flex;
                }
            }
        }
}